<!--insipiration du code HTML formulaire de connexion prise ici: https://codepen.io/shaligramk/pen/sKCJI/-->
<form>
    <h4> connexion au service </h4>
    <h5 #state></h5>
    <input #mail type="text" placeholder="Courriel"/>
    <input #password type="password" placeholder="Mot de passe"/>
    <li id ="inscription"><a href="inscription">Inscription</a></li>
    <li id = "admin"><a href="admin">Entrée admin</a></li>
    <input (mousedown)="connect()" class="button" value="Connection" style="text-align: center;"/>
</form>

