<!--insipiration du code HTML formulaire de connexion prise ici: https://codepen.io/shaligramk/pen/sKCJI/-->
<form>
    <h4> Enregistrer nouveau film</h4>
    <h5 #state>[ ]</h5>
    <input #title placeholder="Titre"/>
    <input #type placeholder="Genre"/>
    <input #productionDate placeholder="Date de production (YYYY-MM-DD)"/>
    <input #lenght placeholder="Duree (min)"/>

    <div id='btnContainer'>
        <div (mousedown)="register()" class="button" value="Connection" style="text-align: center;" >Enregistrer le film</div>
        <div (mousedown)="navigateOptionPage()" class="button" value="Connection" style="text-align: center;" >Retour au choix des options</div>
        <div (mousedown)="navigateConnectionPage()" class="button" value="Connection" style="text-align: center;" >Page de connexion</div>
    </div>
    
</form>


