  // insipiration du code CSS du formulaire de connexion prise ici: https://codepen.io/shaligramk/pen/sKCJI/
  * {
    margin:0;
    padding:0;
    font-family: sans-serif;
  }
  
  form {
    position:relative;
    width:450px;
    height:800px;
    margin:50px auto;
    text-align:center;
    background:#353535;
    padding:40px;
    box-shadow: 20px 20px 20px;
  }
  
  h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2em;
    font-weight:300;
    margin-bottom:25px;
    color:#727272;
    text-shadow:1px 1px 0px #292929;
  }

  h5 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom:10px;
    color:#5cb85c
  }
  input {
    display:block;
    width:420px;
    padding:14px;
    border-radius:6px;
    border:0;
    margin-bottom:12px;
    color: #191A21;
    font-weight:600;
    font-size:16px;
  }
  
  #inscription{
    position:absolute;
    margin-top:10px;
    right:40px;
    bottom:82px;
    list-style:none;
  }

  #admin {
    position:absolute;
    right:40px;
    bottom:60px;
    list-style:none;
  }
  
  a, a:visited {
    text-decoration:none;
    color:#727272;
    font-weight:400;
    text-shadow:1px 1px 0px #292929;
    margin-top:10px;
  }
  
  .button {
    width:400px;
    height: 25px;
    margin-top:15px;
    margin-bottom: 5px;
    background:#2A2A2A;
    color: #727272;
    font-weight:400;
    text-shadow:1px 1px 0px #292929;
    box-shadow:0px 3px 0px #292929;
    margin-left: 25px;
    line-height: 25px;
  }

  #btnContainer{
    width:450px;
    height: 80px;
  }

  .button:hover{
    cursor: pointer;
  }
