<!--insipiration de la page : https://w3layouts.com/video-streaming-website-template-videostube/ -->

<div class="header">
    <div class="wrap">
        <div class="barre_logo_recherche">
            <h1>NetflixPoly</h1>
            <div class="recherche">
                <div>
                    <input
                        type="text"
                        class="textbox"
                        value="Rechercher un film"
                        onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Rechercher un film';}"
                    />
                    <div class="button" style="text-align: center; padding-left: 10px;">rechercher</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div>
    <div class="wrap">
        <div class="Barre_laterale">
            <div class="items_barre_laterale">
                <div class="clear"></div>
                <div class="categories" style="padding-bottom:100%">
                    <h3 style="text-align:center;">Categories</h3>
                    <ul>
                        <li><a class="button">Action</a></li>
                        <li><a class="button">Action</a></li>
                        <li><a class="button">Action</a></li>
                        <li><a class="button">Action</a></li>
                        <li><a class="button">Action</a></li>
                        <li><a class="button">Action</a></li>
                        <li><a class="button">Action</a></li>
                        <li><a class="button">Action</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="films">
            <h3>Films</h3>
            <div class="films-heading">
                <div class="films-heading-right"></div>
                <div class="clear"></div>
            </div>
            <div class="content-grids">
                <div class="content-grid" *ngFor="let movie of movies" style="margin: 5px;">
                    <p>Titre: {{ movie.getTitle() }}</p>
                    <p>Genre: {{ movie.getType() }}</p>
                    <p>Année de prod : {{ movie.getProductionDate() }}</p>
                    <p>Durée: {{ movie.getLenght() }} minutes</p>
                    <a class="button">Regarder le film</a>
            </div>
        </div>
    </div>
</div>
