<!--insipiration du code HTML formulaire de connexion prise ici: https://codepen.io/shaligramk/pen/sKCJI/-->
<form>
    <h4> Que souhaitez-vous faire? </h4>
    <div id='btnContainer'>
        <div (mousedown)="registerUserPage()" class="button" value="Connection" style="text-align: center;" >Enregistrer un nouvel utilisateur</div>
        <div (mousedown)="registerMoviePage()" class="button" value="Connection" style="text-align: center;" >Enregistrer un nouveau film</div>
        <div (mousedown)="viewMovies()" class="button" value="Connection" style="text-align: center;" >Afficher/Modifier/Supprimer un film</div>
        <div (mousedown)="backToLoginPage()" class="button" value="Connection" style="text-align: center;" >Retour a la page de connexion</div>
    </div>
</form>


