<!--insipiration de la page : https://w3layouts.com/video-streaming-website-template-videostube/ -->

<div class="header">
    <div class="wrap">
        <div class="barre_logo_recherche">
            <h1>NetflixPoly</h1>
            <div class="recherche">
                <div>
                    <div class="button" style="text-align: center; padding-left: 10px;">déconnexion</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div>
    <div class="wrap">
        <div class="Barre_laterale">
            <div class="items_barre_laterale">
                <div class="clear"></div>
                <div class="categories" style="padding-bottom:100%">
                    <h3 style="text-align:center;">Liste de films a modifer</h3>
                    <ul>
                        <li *ngFor="let movie of movies"><a (click)= "onMovieChange($event.target)" id = "{{ movie.noMovie }}" class="button">{{ movie.title }} #{{ movie.noMovie }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="films">
            <div style = "float: left;" *ngIf="movie != undefined; else noMovie" >
                <form>
                    <h4> Modifier les donnees de {{ movie.title }} </h4>
                    <h5 #state>[]</h5>
                    <input #title  placeholder="Titre" value ="{{ movie.title }}"/>
                    <input #type  placeholder="Genre" value = "{{ movie.type }}"/>
                    <input #productionDate  placeholder ="Annee de production (YYYY-MM-DD)" value = "{{ movie.productionDate.substr(0,10) }}"/>
                    <input #lenght  placeholder="Durée" value = "{{ movie.lenghtMins }}"/>
                    <div id='btnContainer'>
                        <div (mousedown)="updateMovie()" class="button" value="Connection" style="text-align: center;" >Modifier</div>
                        <div (mousedown)="deleteCurrentMovie()" class="button" value="Entrée admin" style="text-align: center;">Supprimer</div>
                    </div>
                </form>
            </div>
            <ng-template #noMovie>
                <div style = "float: left;">
                    <h3> Selectionnez un film a modifier</h3>
                </div>
            </ng-template>
        </div>
    </div>
</div>
