// inspiration du CSS: https://w3layouts.com/video-streaming-website-template-videostube/ 

* {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}
.clear {
    clear: both;
}
img {
    max-width: 100%;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    padding-top: 8px;
}

.top-menu {
    float: right;
    width: 70%;
    padding-top: 6px;
}

.barre_logo_recherche h1 {
    float: left;
    width: 40%;
}

.barre_logo_recherche {
    border: 1px solid #f1f0f6;
    border-top: none;
    border-left: none;
    border-right: none;
}
.recherche {
    width: 30%;
    padding-top: 28px;
    float: right;
}

input[type='text'] {
    width: 60%;
    padding: 10px;
    float: left;
    border: 1px solid rgba(85, 85, 85, 0.15);
    border: none;
    outline: none;
    font-family: 'gandhi_sansregular';
    color: #888;
}

#sumbit {
    float: right;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    border: none;
    color: #000;
    outline: none;
    font-family: 'gandhi_sansregular';
    background-color: white;
}

.Barre_laterale {
    width: 19%;
    float: left;
    padding-top: 15px;
    border: 1px solid #f1f0f6;
    border-bottom: none;
    border-top: none;
    border-left: none;
}

.categories ul li a {
    text-align: center;
}

.categories h3 {
    padding-bottom: 20px;
    display: block;
    border: 1px solid #f1f0f6;
    border-top: none;
    border-left: none;
    border-right: none;
}

.films {
    padding: 0 18px;
    width: 77%;
    float: right;
    margin-top: 15px;
}

.film h3 {
        padding-left: 10px;
}

.films-heading {
    border-bottom: 1px solid #f1f0f6;
    margin-bottom: 20px;
    padding-left: 10px;
}

.content-grid {
    width: 23%;
    float: left;
    text-align: center;
    border: 1px solid rgba(235, 235, 235, 0.53);
}

.button {
    background: #000;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    outline: none;
    font-family: 'gandhi_sansregular';
    margin: 10px 0 0 0;
    font-size: 0.875em;
}

h3, h1 {
    font-family: 'gandhi_sansregular';
    color: #888;
}
