// inspiration du CSS: https://w3layouts.com/video-streaming-website-template-videostube/ 

* {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    color:#727272;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}
.clear {
    clear: both;
}
img {
    max-width: 100%;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    padding-top: 8px;
}

.top-menu {
    float: right;
    width: 70%;
    padding-top: 6px;
}

.barre_logo_recherche h1 {
    float: left;
    width: 40%;
}

.barre_logo_recherche {
    border: 1px solid #f1f0f6;
    border-top: none;
    border-left: none;
    border-right: none;
}
.recherche {
    width: 10%;
    padding-top: 20px;
    float: right;
}

#sumbit {
    float: right;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
}

.Barre_laterale {
    width: 19%;
    float: left;
    padding-top: 15px;
    border: 1px solid #f1f0f6;
    border-bottom: none;
    border-top: none;
    border-left: none;
}

.categories ul li a {
    text-align: center;
}

.categories h3 {
    padding-bottom: 20px;
    display: block;
    border: 1px solid #f1f0f6;
    border-top: none;
    border-left: none;
    border-right: none;
}

.films {
    padding: 0 18px;
    width: 77%;
    float: right;
    margin-top: 15px;
}

.film h3 {
        padding-left: 10px;
}

.films-heading {
    border-bottom: 1px solid #f1f0f6;
    margin-bottom: 20px;
    padding-left: 10px;
}

.content-grid {
    width: 23%;
    float: left;
    text-align: center;
    border: 1px solid rgba(235, 235, 235, 0.53);
    color:#727272;
    text-shadow:1px 1px 0px #292929;
}

.button {
    background-color:#000;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    outline: none;
    margin: 10px 0 0 0;
    font-size: 0.875em;
}

h3, h1 {
    color: #888;
}

form {
    position:relative;
    width:450px;
    height:500px;
    margin-left: 70px;
    text-align:center;
    background:#353535;
    padding:40px;
    box-shadow: 10px 10px 10px;
  }
  
  form h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2em;
    font-weight:300;
    margin-bottom:25px;
    color:#727272;
    text-shadow:1px 1px 0px #292929;
  }

  form input {
    display:block;
    width:420px;
    padding:14px;
    border-radius:6px;
    border:0;
    margin-bottom:12px;
    color: #191A21;
    font-weight:600;
    font-size:16px;
  }

  #btnContainer{
    width:450px;
    height: 80px;
  }

  form h5 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom:10px;
    color:#5cb85c
  }